.container-apps {
    padding: 12rem 16rem;
}

.apps__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.list__image {
    height: 96px;
    width: 96px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .container-apps {
        padding: 6rem 5rem;
    }

    .list__image {
        height: 76px;
        width: 76px;
    }
}

@media screen and (min-width: 1200px) {
    .container-apps {
        padding: 8rem 10rem;
    }
}

@media screen and (min-width: 1440px) {
    .container-apps {
        padding: 12rem 16rem;
    }
}