footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f4037;  
    background: -webkit-linear-gradient(to top, #1d5a38, #042413);
    background: linear-gradient(to top, #1d5a38, #042413);
    padding: 6.5rem 10rem;
}

.container-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    row-gap: 1rem;

}

.footer__links {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    height: 48px;
}

.content__social {
    display: flex;
    list-style: none;
    column-gap: 1rem;
}

.email-btn {
    background-color: var(--color-dark-green);
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.28);
}

.email-btn a {
    color: var(--color-main-green);
    text-decoration: none;
}

.email-btn:hover {
    box-shadow: none;
}

.link__img-github {
    opacity: 30%;

}

.link__img-github:hover {
    opacity: 80%;

}

.link__img-behance {
    opacity: 30%;

}

.link__img-behance:hover {
    opacity: 80%;

}

.link__img-linkedin {
    opacity: 30%;

}

.link__img-linkedin:hover {
    opacity: 80%;

}
