.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7.5rem;
    /* margin-top: 6.5rem; */
    position: absolute;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1d5a38, #042413);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1d5a38, #042413); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 520px;
    padding: 0 10rem;
}

.container-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}


.footer__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1.5rem;
    height: 100%;
}

.email-btn {
    background-color: var(--color-dark-green);
    text-align: center;
    width: 187px;
    padding: 1rem;
    -webkit-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.5);
}

.email-btn a {
    text-decoration: none;
    color: var(--color-main-green);
}

.email-btn:hover {
    box-shadow: none;
}

.content__social {
    height: 48px;
    display: flex;
    column-gap: 1.5rem;
    list-style: none;
}

.link__img-github {
    opacity: 30%;

}

.link__img-github:hover {
    opacity: 80%;

}

.link__img-behance {
    opacity: 30%;

}

.link__img-behance:hover {
    opacity: 80%;

}

.link__img-linkedin {
    opacity: 30%;

}

.link__img-linkedin:hover {
    opacity: 80%;

}