.intro {
    display: flex;
    justify-content: space-between;
    padding: 6.5rem 16rem 0 16rem;
}

.intro__content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    max-width: calc(85% - 22.31rem);
}

.intro__tittle {
    color: var(--color-main-green); 
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.tittle__strong:hover {
    background-color: var(--color-main-green);
    color: black;
}

.intro__text {
    color: var(--color-text-primary);
    font-size: 1.25rem;
}

.intro__image {
    position: relative;
    width: 22.31rem;
    height: 30.81rem;
    background-image: url(../img/victor-franciulli.png);
    background-repeat: no-repeat;
    background-size: cover;
}