.container-work {
    display: flex;
    flex-direction: column;
}

.work-left {
    display: flex;
}

.work-left__image {
    background-image: url(../img/works/fusao.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.5);
}

.work-right__image {
    background-image: url(../img/works/riot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.5);
}

.work-left__description {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.description__tittle {
    font-size: 1.2rem;
}

.description__more {
    color: var(--color-main-green);
}

.description__more a {
    color: var(--color-main-green);
}

.description__more a:hover {
    color: var(--color-light-green);
}

.work-right {
    display: flex;
}

.work-right__description {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: right;
}

@media screen and (min-width: 768px) {

    .work-left {
        display: flex;
        flex-direction: column;
    }

    .work-left__image {
        height: 430px;
    }

    .work-left__description {
        padding: 2rem 5rem;
        
    }
    
    .work-right {
        display: flex;
        flex-direction: column-reverse;
    }
    .work-right__image {
        height: 430px;
    }

    .work-right__description {
        text-align: left;
        padding: 2rem 5rem 4rem 5rem;
    }

}

@media screen and (min-width: 1200px) {
    .container-work {
        row-gap: 6rem;
    }

    .work-left {
        flex-direction: row;
        column-gap: 2rem;
    }
    .work-left__image {
        width: 708px;
        height: 397px;
    }
    
    .work-right__image {
        width: 708px;
        height: 397px;
    }

    .work-left__description {
        width: 30%;
        padding: 0;
    }

    .work-right {
        flex-direction: row;
        column-gap: 2rem;
        justify-content: flex-end;
    }

    .work-right__description {
        width: 30%;
        text-align: right;
        padding: 0;
    }
}

@media screen and (min-width: 1440px) {
    
    .work-left__image {
        width: 900px;
        height: 505px;
    }
    
    .work-right__image {
        width: 900px;
        height: 505px;
    }
}

